*{
    margin: 0;
    padding: 0;
}

.father{
    display: flex;
    background-color:  rgb(51, 9, 204);
    padding: 2%;
    box-shadow: 1px 1px 1px rgb(61, 58, 58);
}
.logo{
    flex: 1;
    padding-left: 2%;
    /* padding-left: 2%; */
}
.links{
    flex: 2;
}

.links ul li{
    display: inline-block;
    margin-left: 150px;
}

.links ul li a{
    font-weight: 900;
    color: rgb(255, 255, 255);
    text-decoration: none;

}